@using Entities.Concrete;
@model List<Category>

<table>
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
            </tr>
        }

    </tbody>
</table>

